/* Styling */

body {
  margin: auto;
  width: 640px;
  padding: 50px;
  font-family: 'Lexend Deca', sans-serif;
  color: #2e475d;
}

.step {
  text-align: center;
  font-size: large;
  margin-top: 50%;
}

.count {
  text-align: center;
  font-size: large;
  margin-top: 5%;
}

.date {
  text-align: center;
  margin-top: 5%;
}

.btn:hover {
  background-color: #204878;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

button {
  margin: 2%;
}
